.button {
  /*padding: 0.3rem 2rem 0.3rem 2rem;*/
  border-radius: 0.4rem;
  text-decoration: none;
  font-weight: 200px;
  padding: 0.3rem 2rem 0.3rem 2rem;
  text-align: center;
  background-color: transparent;
  transition: ease 0.3s;
}

.one .button:hover {
  background-color: var(--dark-blue);
  color: white;
}

.hero .button:hover {
  background-color: grey;
}

.hero .button {
  /*border: 1px solid white;*/
  color: var(--dark-blue);
  background-color: white;
  opacity: 0;
  transition: opacity 1s 0.2s;
}

.one .button {
  border: 1px solid var(--dark-blue);
  color: var(--dark-blue);
}

.three .button {
  border: 1px solid var(--dark-blue);
  color: var(--dark-blue);
}

.four .button {
  border: 1px solid white;
  color: white;
}

.five .button {
  border: 1px solid var(--dark-blue);
  color: var(--dark-blue);
}

@media screen and (min-width: 700px) {
  .button {
    border-radius: 0.4rem;
    text-decoration: none;
    font-weight: 200px;
    padding: 0.3rem 3rem 0.3rem 3rem;
    text-align: center;
  }
}
