* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica";
  font-size: 18px;
}

@media screen and (min-width: 1050px) {
  body {
    font-size: 20px;
  }
}

:root {
  --main-bg: rgb(238, 238, 238);
  --font-color: black;
  --font-color-light: white;
  --dark-blue: #162133;
  --light-blue: rgb(201, 206, 215);
  --chat-bg: rgb(215, 220, 227);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2 {
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 4rem;
}

.main-container {
  scroll-snap-type: y mandatory;
}

.section-container {
  scroll-snap-align: start;
}
