.hero {
  background-color: rgb(74, 74, 74);
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .img-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content h1 {
  margin-bottom: 9rem;
  opacity: 0;
  transition: opacity ease-in 0.7s 0.5s;
}

.date {
  text-align: center;
  padding-bottom: 2rem;
  color: white;
  font-weight: 900;
  opacity: 0;
  transition: opacity 1s 0.2s;
}

.hero .img-container img {
  object-position: bottom;
  /*opacity: 70%;*/
}
