.hero {
  background-color: rgb(74, 74, 74);
  width: 100%;
  height: 100vh;
  color: white;
}

.hero .img-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.hero-content svg path {
  /*box-shadow: 0px 4px 4px rgba(4, 4, 4, 0.25);*/
}

.hero-content h1 {
  margin-bottom: 9rem;
}

.hero-content p {
  margin-bottom: 1rem;
}

.date {
  text-align: center;
}

.hero .img-container img {
  object-position: bottom;
  /*opacity: 70%;*/
}

#fademe {
  opacity: 0;
  transition: 4s;
}
