.hero {
  background-color: rgb(74, 74, 74);
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.hero-content {
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.hero-content h1 {
  margin-bottom: 2rem;
  opacity: 0;
  transition: opacity ease-in 0.7s 0.5s;
}

@media screen and (min-width: 1000px) {
  .hero-content {
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
  }
}
@media screen and (min-width: 1200px) {
  .hero-content {
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-around;
    margin-bottom: 0;
  }
  .hero-button {
    margin-top: 9rem;
  }
}

/*.date {
  text-align: center;
  padding-bottom: 2rem;
  color: white;
  font-weight: 900;
  opacity: 0;
  transition: opacity 1s 0.2s;
}*/
.hero .img-container {
  position: relative;
  width: 100%;
  height: 100vh;
}
.hero .img-container img {
  object-position: bottom;
}
