/*Gives the same style for contentboxes where text and bottons are placed (section one, three and five). Centering the content*/
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
}

.content-box{
  padding: 2rem 1.5rem 2rem 1.5rem;
}

/*styles for the section one */
.one .img-container {
  height: 70vh;
}

.text-one {
  padding-bottom: 2rem;
}

.text-one h2 {
  padding-bottom: 1rem;
}

.text-one p {
  font-weight: 200;
  line-height: 2rem;
  height: 100%;
  max-width: 475px;
  min-width: 300px;
}

/*styles for the section two */
.two .img-container {
  height: 100%;
}

/*styles for the section three */

.three .img-container {
  height: 500px
}
.text-three {
  padding-bottom: 2rem;
}

.text-three p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.2rem;
}

.text-three h2 {
  margin-bottom: 0.5rem;
  text-align: center;
}



/*styles for the section three */
.four .img-container {
  height: 100vh;
  position: relative;
  background-color: rgb(34, 34, 34);
}

.four .content-on-img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  color: var(--font-color-light);
}

.four .content-on-img h2 {
  margin-bottom: 23rem;
}

.four .content-on-img .button {
  margin-top: 2rem;
}

/*styles for the section five */

.five .img-container {
  height: 100%;
}

.text-five {
  padding-bottom: 2rem;
}

.text-five h2 {
  padding-bottom: 1rem;
}

.text-five p {
  font-weight: 200;
  line-height: 2rem;
  height: 100%;
  max-width: 500px;
}

@media screen and (min-width: 700px) {

  .section-container{

  }

  .content-box{
    padding: 3rem 4rem 3rem 4rem;

  }

  .content {
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between; 
  }

  h2 {
    padding-top: 0;
  }

  .text-five,
  .text-one,
  .text-three {
    padding-bottom: 0;
  }

  /*styles for the section one */

.one{
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
 

}

  .one .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .text-one{
    max-width: 550px;
  }

  .one .img-container {
    height: 100%;
  }

  /*styles for the section two */
  .two .img-container {
    height: 100vh;
  }

/*styles for the section three*/
    .three {
      height: 100vh;
    }
  
    .three .content {
      height: 20%;
    }
    .text-three h2 {
      text-align: start;
    }

    .three .img-container{
      height: 100%;
      width: 50%;
    }
  
    .three .big-box {
      height: 80%;
      display: flex;
    }


    /*styles for the section four */
    .four .content-on-img h2 {
      margin-bottom: 27rem;
    }
    .four .content-on-img .button {
      margin-top: 6rem;
    }
  
  /*styles for the section five */
  .five {
    height: 100%;
  }

  .five .content {
    height: 100%;
  }

  .five .img-container {
    height: 100vh;
  }


  @media screen and (min-width: 1000px) {
    .content-box{
      /*padding: 3rem 7rem 3rem 7rem;*/
  
    }
  }


    