main {
  max-width: 1600px;
  background-color: rgb(232, 232, 232);
  margin: 0 auto;
}

/*Gives the same style for contentboxes on mobil where text and bottons are placed (section one, three and five). Centering the content*/
.content {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-box {
  padding: 2rem 1.5rem 2rem 1.5rem;
}

/*styles for the section one */
.one .img-container {
  object-position: 20% 100%;
}
.text-one {
  padding-bottom: 2rem;
  max-width: 603px;
}
.text-one h2 {
  padding-bottom: 2rem;
  font-weight: 400;
}
.text-one h2 span {
  font-weight: bold;
}
.text-one {
  font-weight: 200;
  line-height: 2rem;
  height: 100%;
}

/*styles for the section two */
.two {
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
}
.two .img-container {
  max-width: 1000px;
  width: 100%;
  padding: 3rem;
}
.two .img-container img {
  object-fit: contain;
}

/*styles for the section three */
.three {
  background-color: white;
}
.three .big-box {
  height: 100%;
}
.three .img-container {
  height: 50%;
}
.text-three {
  padding-bottom: 2rem;
  color: black;
}
.text-three p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.2rem;
}

/*styles for the section three */
.four {
  height: 100vh;
}
.four .img-container {
  height: 100%;
  position: relative;
  background-color: rgb(34, 34, 34);
}
.four .content-on-img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  color: var(--font-color-light);
}
.four .content-on-img h2 {
  margin-bottom: 23rem;
}
.four .content-on-img .button {
  margin-top: 2rem;
}

/*styles for the section five */
.five .img-container {
  height: 100%;
}
.five .img-container img {
  object-position: bottom;
}
.text-five {
  padding-bottom: 2rem;
  max-width: 627px;
}
.text-five h2 {
  padding-bottom: 1rem;
}
.text-five p {
  font-weight: 200;
  line-height: 2rem;
}

@media screen and (min-width: 800px) {
  .section-style-desk .content-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .section-style-desk .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  .section-style-desk .content .text-one,
  .text-five {
    padding-bottom: 0px;
  }
  .content-box {
    padding: 2rem 2.5rem 2rem 2.5rem;
  }
  .text-one {
    max-width: 390px;
    min-width: 300px;
  }
  .one .img-container {
    min-height: 100vh;
  }
  .three .big-box {
    height: 100vh;
  }
  .text-five {
    max-width: 450px;
  }
}

@media screen and (min-width: 1050px) {
  .section-style-desk .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .section-style-desk .content-box {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  h2 {
    padding-top: 0;
  }

  /*styles for the section one */
  .one {
    display: flex;
    justify-content: center; /*flex-end;*/
    height: 100vh;
  }
  .text-one {
    max-width: 340px;
    min-width: 340px;
  }
  .one .img-container {
    height: 100vh;
  }
  .one .img-container img {
    object-position: bottom;
  }
  /*styles for the section two */
  .two .img-container {
    height: 100vh;
  }

  /*styles for the section three*/
  .three .big-box {
    min-height: 100vh;
  }
  .three .img-container {
    min-height: 50%;
    position: relative;
  }
  .three .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 0rem 3rem 3rem 0rem;
  }
  .three .content-box {
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .text-three {
    padding-bottom: 2rem;
    color: white;
  }

  /*styles for the section four */
  .four .content-on-img h2 {
    margin-bottom: 27rem;
  }
  .four .content-on-img .button {
    margin-top: 6rem;
  }

  /*styles for the section five */

  .five {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
  }
  .text-five {
    max-width: 390px;
    min-width: 390px;
  }

  /*
  .five {
    height: 100%;
  }
  .five .content {
    height: 100%;
  }
  .five .img-container {
    height: 100vh;
  }
  .five .img-container img {
    object-position: 60% 80%;
  }*/

  /*@media screen and (min-width: 1000px) {
    .content-box{
      padding: 2rem 0.5rem 2rem 0.5rem;
  
    }

   
  
  }
*/
}
