* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}
body {
  background-image: linear-gradient(to right, #162133, rgb(31, 72, 87));
}

.banner {
  min-height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
}
.logo {
  cursor: pointer;
}

.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.images {
  max-width: 100%;
  width: 100vw;
  display: flex;
  transition: 0.4s;
  background-color: white;
  border: 1px solid black;
}
.exterior {
  width: 50%;
  height: 50vh;
  animation: fadein 1s ease-in-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
  object-fit: cover;
}
.interior {
  width: 50%;
  height: 50vh;
  animation: fadein 1s ease-in-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
  object-fit: cover;
}

.detail {
  flex: 1 1 40%;
  width: 40%;
  padding: 50px;
}

.detail h2 {
  color: white;
  font-size: 22px;
  font-weight: 700px;
}
.banner h3 {
  color: white;
  font-size: 22px;
  font-weight: 300;
}

.btn_grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.btn_grid .btn_wrap {
  flex: 1 1 50%;
  width: 50%;
  padding: 15px;
}

button {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  outline: none;
  background: none;
  cursor: pointer;
  border: 2px solid #eee;
  color: white;
  font-size: 20px;
  font-weight: 700;
  transition: 0.4s;
  border-radius: 10%;
}
button:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.colours .btn_wrap .black.selected {
  background-color: #212121;
  color: #fff;
}

.colours .btn_wrap .blue.selected {
  background-color: #2484e4;
  color: #fff;
}

.colours .btn_wrap .red.selected {
  background-color: #af1e2d;
  color: #fff;
}

.colours .btn_wrap .yellow.selected {
  background-color: #ffce00;
  color: rgb(0, 0, 0);
}

.colours .btn_wrap .coral.selected {
  background-color: #ff6c37;
  color: #fff;
}

.colours .btn_wrap .white.selected {
  background-color: #eee;
  color: #212121;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 868px) {
  .images {
    flex-direction: column;
  }
  .interior,
  .exterior {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100vw;
    height: 30vh;
  }

  .btn_grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .detail {
    position: relative;
    width: 100%;
    height: 40vh;
  }
}
