* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}
body {
  background-image: linear-gradient(to right, #162133, rgb(93, 96, 109));
}

.banner {
  min-height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
}
.logo {
  cursor: pointer;
}

.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.images {
  max-width: 100%;
  width: 100vw;
  display: flex;
  transition: 0.4s;
  background-color: white;
  border: 1px solid black;
}
.exterior {
  width: 50%;
  height: 50vh;
  animation: fadein 1s ease-in-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
  object-fit: cover;
}
.interior {
  width: 50%;
  height: 50vh;
  animation: fadein 1s ease-in-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
  object-fit: cover;
}

.detail {
  width: 40%;
  padding: 50px;
}

.detail h2 {
  color: white;
  font-size: 22px;
  font-weight: 700px;
}
.banner h3 {
  color: white;
  font-size: 22px;
  font-weight: 300;
}

.btn_grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0px;
}

.btn_grid .btn_wrap {
  flex: 1 1 50%;
  width: 50%;
  padding: 15px;
}

.detail button {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #eee;
  color: white;
  padding: 0.4rem 2rem 0.4rem 2rem;
  font-size: 20px;
  font-weight: 200px;
  transition: 0.4s;
  border-radius: 1rem;
}
button:hover {
  opacity: 0.7;
}

.colours .btn_wrap .black.selected {
  background-color: #212121;
  color: #fff;
}

.colours .btn_wrap .blue.selected {
  background-color: #2484e4;
  color: #fff;
}

.colours .btn_wrap .red.selected {
  background-color: #af1e2d;
  color: #fff;
}

.colours .btn_wrap .yellow.selected {
  background-color: #ffce00;
  color: rgb(0, 0, 0);
}

.colours .btn_wrap .coral.selected {
  background-color: #ff6c37;
  color: #fff;
}

.colours .btn_wrap .white.selected {
  background-color: #eee;
  color: #212121;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Responsivity*/

@media screen and (max-width: 868px) {
  .images {
    flex-direction: column;
  }
  .interior,
  .exterior {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100vw;
    height: 30vh;
  }

  .btn_grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .detail {
    position: relative;
    width: 100%;
    height: 26vh;
    margin-bottom: 10px;
  }
}

/* SIGNUP */

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
  padding: 1rem;
}

.sign-up h3 {
  width: 100%;
  text-align: center;
  line-height: 2.5rem;
  letter-spacing: 0.05rem;
  padding: 2rem 0rem 0.5rem 0rem;
  font-weight: 300;
  font-size: 1.8rem;
}
.form-container-sign-up {
  width: 100%;
  max-width: 360px;
  padding: 1.5rem;
  border-radius: 1rem;
}
.form-container-sign-up input[type="text"],
input[type="email"],
.button-sign-up {
  width: 100%;
  padding: 0.7rem;
  margin: 0.4rem 0rem 1rem 0rem;
  border-radius: 2rem;
  font-size: 0.9rem;
  border: none;
}
.form-container-sign-up input[type="text"],
input[type="email"] {
  transition: 0.1s ease-in-out;
  background-color: white;
}
.form-container-sign-up input[type="email"]:focus,
.form-container-sign-up input[type="text"]:focus {
  outline: none;

  background-color: rgb(255, 255, 255);
}

.form-container-sign-up label {
  font-size: 1rem;
  margin-left: 0.6rem;
  letter-spacing: 0.06rem;
}
.checkbox {
  display: flex;
  flex-direction: row-reverse;
  font-size: 50px;
}
input[type="checkbox"] {
  margin: 0.15rem 0.6rem 0 0.6rem;
  padding: 1rem;
}
.container-checkbox label {
  font-size: 0.7rem;
  margin: 0.3rem 0.2rem 1rem 0rem;
  letter-spacing: 0.02rem;
  line-height: 1rem;
  font-weight: 200;
}
.button-sign-up {
  color: rgb(30, 35, 75);
  letter-spacing: 0.1rem;
  transition: 0.1s ease;
  font-size: 1rem;
}
.button-sign-up:hover {
  opacity: 0.7;
}
.button-sign-up:focus {
  background-color: #d17439;
  box-shadow: 0 0 0 0.2rem #d17439;
  color: black;
  outline: none;
}

/* Footer & Socials */

footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
footer ul {
  list-style: none;
  padding-left: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 0.9rem;
  font-weight: 300;
}
footer ul li {
  padding: 0.3rem;
  text-align: center;
}
footer ul li a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  footer ul {
    display: flex;
    padding: 0 0 1.5rem 0;
  }
  footer ul li {
    padding: 0 1rem 0 1rem;
  }
}
