.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--light-blue);
  padding: 1rem;
}
.sign-up h3 {
  width: 100%;
  text-align: center;
  line-height: 1.8rem;
  padding: 2rem 0rem 1rem 0rem;
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 2rem;
  color: black;
}
.form-container-sign-up {
  width: 100%;
  max-width: 350px;
  background-color: var(--light-blue);
  padding: 1.5rem;
  border-radius: 1rem;
}
.form-container-sign-up input[type="text"],
input[type="email"],
.button-sign-up {
  width: 100%;
  padding: 0.7rem;
  margin: 0.3rem 0rem 1rem 0rem;
  border-radius: 2rem;
  font-size: 0.9rem;
  border: none;
}

input[type="text"],
input[type="email"] {
  transition: 0.1s box-shadow ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus {
  outline: none;
  box-shadow: 0 0 0.1rem 0.1rem #1621339f;
}
.form-container-sign-up label {
  font-size: 1rem;
  margin-left: 0rem;
}
.checkbox {
  display: flex;
  flex-direction: row-reverse;
}
input[type="checkbox"] {
  margin-right: 0.6rem;
}
.container-checkbox label {
  font-size: 0.7rem;
  margin: 0.3rem 0rem 1rem 0rem;
}
.button-sign-up {
  background-color: var(--dark-blue);
  color: white;
}
.button-sign-up:hover {
  opacity: 80%;
}

.goTop {
  display: none;
  color: var(--dark-blue);
  font-weight: 200;
  text-decoration: none;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: transparent;
  border: 1px solid var(--dark-blue);
  border-radius: 2rem;
  transition: 0.5s ease;
  text-align: center;
}
.goTop:hover {
  background-color: rgb(62, 62, 62);
  color: white;
  border: 1px solid rgb(62, 62, 62);
}

@media screen and (min-width: 800px) {
  .sign-up {
    background-color: var(--dark-blue);
    padding: 4rem;
  }
  .form-container-sign-up {
    /*padding: 3rem;*/
    margin: 1rem 0 1rem 0;
    background-color: var(--light-blue);
  }
  .sign-up h3 {
    color: white;
    padding-bottom: 3rem;
  }
  .goTop {
    color: white;
    border: 1px solid white;
    background-color: transparent;
    padding: 0.7rem 1rem 0.7rem 1rem;
    transition: 0.5s ease;
  }
  .goTop:hover {
    background-color: var(--light-blue);
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
  }
}
