.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(201, 206, 215);
  padding: 1rem;
}
.sign-up h3 {
  line-height: 1.8rem;
  padding: 1rem 0rem 1rem 0rem;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2rem;
}
.form-container-sign-up {
  width: 100%;
  max-width: 350px;
  background-color: rgb(201, 206, 215);
  padding: 1rem;
  border-radius: 1rem;
}
.form-container-sign-up input[type="text"],
input[type="email"],
.buttom-sign-up {
  width: 100%;
  padding: 0.7rem;
  margin: 0.3rem 0rem 1rem 0rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  border: none;
}

input[type="text"],
input[type="email"] {
  transition: 0.1s box-shadow ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus {
  outline: none;
  box-shadow: 0 0 0.1rem 0.1rem #1621339f;
}
.form-container-sign-up label {
  font-size: 1rem;
  margin-left: 0rem;
}
.checkbox {
  display: flex;
  flex-direction: row-reverse;
}
input[type="checkbox"] {
  margin-right: 0.6rem;
}
.container-checkbox label {
  font-size: 0.7rem;
  margin: 0.3rem 0rem 1rem 0rem;
}
.buttom-sign-up {
  background-color: var(--dark-blue);
  color: white;
}
.buttom-sign-up:hover {
  opacity: 80%;
}

@media screen and (min-width: 800px) {
  .sign-up {
    background-color: rgb(201, 206, 215); /*rgb(228, 228, 228);*/
    padding: 2rem;
  }
  .form-container-sign-up {
    /*padding: 3rem;*/
    margin: 1rem 0 1rem 0;
    background-color: rgb(201, 206, 215);
  }
}
