.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--opacity-dark-blue);
  color: white;
  padding: 1rem;
}
.sign-up h3 {
  width: 100%;
  text-align: center;
  line-height: 2.5rem;
  letter-spacing: 0.05rem;
  padding: 2rem 0rem 0.5rem 0rem;
  font-weight: 300;
  font-size: 1.8rem;
}
.form-container-sign-up {
  width: 100%;
  max-width: 360px;
  padding: 1.5rem;
  border-radius: 1rem;
}
.form-container-sign-up input[type="text"],
.form-container-sign-up input[type="email"],
.button-sign-up {
  width: 100%;
  padding: 0.7rem;
  margin: 0.4rem 0rem 1rem 0rem;
  border-radius: 2rem;
  font-size: 0.9rem;
  border: none;
}
.form-container-sign-up input[type="text"],
.form-container-sign-up input[type="email"] {
  transition: 0.1s ease-in-out;
  background-color: var(--light-blue);
}
.form-container-sign-up input[type="email"]:focus,
.form-container-sign-up input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem var(--dark-blue);
  background-color: rgb(255, 255, 255);
}

.form-container-sign-up label {
  font-size: 1rem;
  margin-left: 0.6rem;
  letter-spacing: 0.06rem;
}
.checkbox {
  display: flex;
  flex-direction: row-reverse;
}
input[type="checkbox"] {
  margin: 0.15rem 0.6rem 0 0.6rem;
  padding: 1rem;
}
.container-checkbox label {
  font-size: 0.7rem;
  margin: 0.3rem 0.2rem 1rem 0rem;
  letter-spacing: 0.02rem;
  line-height: 1rem;
  font-weight: 200;
}
.button-sign-up {
  background-color: var(--dark-blue);
  color: white;
  letter-spacing: 0.1rem;
  transition: 0.1s ease;
  font-size: 1rem;
  box-shadow: 0 0 0 0.2rem var(--dark-blue);
}
.button-sign-up:hover {
  opacity: 0.7;
}
.button-sign-up:focus {
  background-color: #d17439;
  box-shadow: 0 0 0 0.2rem #d17439;
  color: black;
  outline: none;
}

.goTop {
  display: none;
  color: white;
  border: 1px solid white;
  background-color: transparent;
  font-weight: 200;
  text-decoration: none;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 2rem;
  transition: 0.5s ease;
  text-align: center;
}
.goTop:hover {
  background-color: rgb(62, 62, 62);
  color: white;
  border: 1px solid rgb(62, 62, 62);
}

@media screen and (min-width: 800px) {
  .form-container-sign-up {
    margin: 0rem 0 1rem 0;
  }
  .sign-up h3 {
    padding-bottom: 1rem;
    padding-top: 3rem;
  }
  .goTop {
    padding: 0.7rem 1rem 0.7rem 1rem;
    transition: 0.5s ease;
  }
  .goTop:hover {
    background-color: var(--light-blue);
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
  }
  .container-checkbox label {
    margin: 0.3rem 0.6rem 1rem 0rem;
    max-width: 330px;
  }
}
